.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.navigation_list {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
  margin-right: 100px;
}

.navigation_list li {
  list-style-type: none;
}

.navigation_list a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  user-select: none;
}

.navigation_list a:hover {
  color: #00ACDC;
}

.activeLink {
  color: #00ACDC;
}

.navigation_cart {
  position: relative;
  display: block;
  background-image: url(./icon/shopping-cart-black.png);
  width: 32px;
  height: 32px;
}

.navigation_cart:hover {
  background-image: url(./icon/shopping-cart.png);
}